.errorWrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 640px;
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 0 20px;
}
